* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Component bài viết 01: */
.content-1, .content-2 {
  width: 500px;
  padding: 20px;
}

.title {
  height: 50px;
  border-left: 5px solid orange;
  margin-bottom: 10px;
  padding: 10px;
  line-height: 30px;
}

.content-1 p {
  margin: 10px auto;
}

/* Component bài viết 02: */
.img-content {
  position: relative;
}

.img-text {
  position: absolute;
  left: 20px;
  bottom: 40px;
  color: white;
  font-size: 30px;
}

.content-2 p {
  margin: 10px auto;
  font-weight: bold;
}


/* Component bài viết 03: */
.content-3 {
  background-color: grey;
  padding: 30px;
}

.content-3-img{
  display: inline-block;
  width: 45%;
}

.content-3-main {
  display: inline-block;
  width: 50%;
  vertical-align: top;
  font-size: 20px;
}

.content-3 a {
  color: black;
  text-decoration: none;
}

/* Component accordion: */

.content-4 {
  max-width: 1600px;
  margin: 10px;
  border: 1px solid rgb(160, 160, 160);
  border-radius: 5px;
  overflow: hidden;
}

.accordion-item {
  border-bottom: 1px solid rgb(160, 160, 160);
}

.accordion-label {
  display: flex;
  padding: 15px;
  color: blue;
  transition: background 0.3s;
  border-bottom: 1px solid rgb(160, 160, 160);
  justify-content: space-between;
}

.accordion-label i {
  color: black;
  transition: transform 1s;
}

.accordion-label:hover {
  background-color: aquamarine;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  background-color: white;
  padding: 0 15px;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + .accordion-label + .accordion-content {
  max-height: 300px;
  padding: 15px;
}

input[type="radio"]:checked + .accordion-label i{
  transform: rotate(180deg);
  color: blue;
}