* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(31, 106, 255);
  height: 150px;
  text-align: center;
  color: white;
}

header h1 {
  line-height: 100px;
}

header a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
}

main {
  text-align: center;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

main img {
  width: 200px;
  border-radius: 50%;
  border: 1px solid blue;
  margin: 20px;
}

footer {
  background-color:rgb(216, 206, 191);
  text-align: center;
  height: 40px;
  line-height: 40px;
}

footer a{
  color: blue;
}